@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;700&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #ffedb3;
  --secondary: #6d4ce5;
  --tertiary: #34c2c2ff;
  --black: #000000;
  --white: #FFFFFF;

  --bg-color: var(--primary);
  --color-h1: var(--black);
  --color-h2: var(--black);
  --color-text: var(--black);

  --font-heading: 'Bebas Neue', sans-serif;
  --font-body: 'Inter', sans-serif;

  /*min, prefered, max*/
  --h1-font-size: clamp(5rem, 15vw, 12rem);
  --h2-font-size: clamp(4.5rem, 12vw, 10rem);
  --h3-font-size: clamp(3.5rem, 10vw, 8rem);
  --h4-font-size: clamp(3rem, 8vw, 6rem);
  --h5-font-size: clamp(2.2rem, 6vw, 4rem);

  --header-line-height: 0;

  --font-text-size: 2rem;

  --extra-gap-header: clamp(4rem, 10vw, 12rem);
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

/*linear-gradient(180deg, rgba(52, 194, 194, 1), rgba(109, 76, 229, 1), rgba(255, 237, 179, 1))
*/
html {
  /* 16px * 62.5% = 10px */
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  background: var(--primary);
  color: var(--color-text);
  font-size: var(--font-text-size);
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-heading);
  line-height: var(--header-line-height);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

.lead {
  font-weight: 600;
  font-size: var(--font-size-lead);
}