@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;700&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #ffedb3;
  --secondary: #6d4ce5;
  --tertiary: #000000;

  --bg-color: var(--primary);
  --color-h1: var(--secondary);
  --color-h2: var(--secondary);

  --color-text: var(--tertiary);
  --font-display: 'Bebas Neue', sans-serif;
  --font-body: 'Inter', sans-serif;
}

body {
  font-family: var(--font-body);
  background-color: var(--bg-color);
  color: var(--color-text);
}

.navbar-collapse {
  display: none;
}

/* 2. Show the collapse when the burger is clicked (Bootstrap adds the .show class) */
.navbar-collapse.show {
  display: block;
}