#info-container {
    background-color: var(--tertiary);
}

#info-box-title {}

#info-collapse-text {}

.dropdown-open svg {
    transform: rotate(180deg);
    transition: transform 0.35s ease;
}

.dropdown-closed svg {
    transform: rotate(0deg);
    transition: transform 0.35s ease;
}

/*--primary: #ffedb3;
  --secondary: #6d4ce5;
  --tertiary: #000000;
  --quaternary: #34c2c2ff;*/